.cardSpace{
  margin: 40px 80px;
  width: 250px;
}

.cardMain {
  background-color: #D67F75;
  border-radius: 10px;
}

.cardImage{
  background-color: #E7ECEE;

  border-radius: 8px;
  height: 250px;
}

.cardImage > img{
  width: 250px;
}

.cardCaption{
  justify-content: space-between;
  text-align: center;
  display: flex;

  padding: 12px;
  font-size: 16px;

  color: #EDF2F4;

  font-weight: 600;
}

.cardTypes{
  display: flex;
  justify-content: space-around;
}