@import 'styles/spacing';
@import 'styles/sizes';

.evolution-line{
  display: flex;
  gap: $border-medium;
  
  justify-content: center;

  width: 100%;

  .child{
    padding-inline-start: $border-small;
  }
}