@import 'styles/spacing';

.line{
  display: flex;
  flex-direction: column;
  gap: $border-medium;
  
  justify-content: center;
}

.multiple-line{
  justify-content: space-between;
  flex-direction: row;
  gap: 0;

  .space{
    flex-direction: column;

    .evolution-details{
      height: 200px;
    }
  }
}