@import "styles/theme";
@import "styles/spacing";
@import "styles/sizes";

.buttonSpace{
  text-align: center;
  align-items: center;
  margin: $border-medium;

  button{
    background-color: $theme;
    color: $aux;
    border: $default-border;
    border-radius: $border-radius-inner;
    min-width: 100px;
    
    box-shadow: $bottom-shadow;
  
    font-size: $font-small;
    height: 48px;
    padding: $border-extra-small;

    &:hover{
      background-color: $dark-theme;
    }

    &:active{
      box-shadow: $inner-shadow;
    }
  }
}