@import 'styles/theme.scss';
@import 'styles/spacing.scss';

.stats{
  display: grid;
  align-items: center;
  gap: $border-medium;

  .total-stats{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 25% 25%;

    font-size: $font-small;
    
    background-color: $aux;
    color: $theme;
    border-radius: $border-radius-inner;

    span{
      padding: $border-extra-small;
    }
  }
}