.buttonSpace{
  text-align: center;
  margin: 40px;
}

.loadButton{
  background-color: #D67F75;
  color: #EDF2F4;
  border: 1px solid #774641;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 24px;
  padding: 16px;
}

.loadButton:hover{
  background-color: #b96e66;
}

.loadButton:active{
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25)
}