@import "styles/theme";
@import "styles/spacing";

.option-box{
  width: 100%;
  padding: $border-small 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $red;
  border: 3px solid $red;
  border-radius: 8px;
  
  font-size: $font-medium;

  a{
    margin: 0px $border-small;
    color: $red;
    display: flex;
  }

  .label-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}