@import "styles/theme";

.optionBox{
  margin-top: 8px;
  margin-bottom: 32px;
  border-radius: 8px;
  padding: 16px 0px;

  color: $red;
  border: 3px solid $red;

  justify-content: space-between;
  align-items: center;
  display: flex;

  font-size: 36px;

  a{
    margin: 0px 25px;
    color: $red;
    display: flex;
  }

  &__labelGroup{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    span{
      justify-content: space-between;
    }
  }
}