$box-small: 48px;

$border-extra-small: 8px;
$border-small: 20px;
$border-medium: 40px;
$border-large: 60px;
$border-extra-large: 100px;

$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;


$border-radius-outer: 10px;
$border-radius-inner: 8px;