$light-aux: #F2F2F2;
$aux: #EDF2F4;
$dark-aux: #e3e8e9;
$theme: #D67F75;
$dark-theme: #b96e66;
$darker-theme: #774641;

$normal: #A8A878;
$fire: #F08030;
$fighting: #C03028;
$water: #6890F0;
$flying: #A890F0;
$grass: #78C850;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$psychic: #F85888;
$rock: #B8A038;
$ice: #98D8D8;
$bug: #A8B820;
$dragon: #7038F8;
$ghost: #705898;
$dark: #705848;
$steel: #B8B8D0;
$fairy: #EE99AC;

$shadow: rgba(0,0,0,0.2);

$box-shadow: 2px 2px 2px 2px $shadow;
$bottom-shadow: 0px 2px 2px 0px $shadow;
$inner-shadow: inset 0px 1px 1px 0px $shadow;
$default-border: 2px solid $theme;

$demi-bold: 600;

$black: #0f0f0f;
$blue: #0583d2;
$dark-blue: #16558f;
$brown: #9c6644;
$dark-brown: #7f5539; 
$gray: #999999;
$dark-gray: #4f4f4f;
$green: #3AA346;
$dark-green: #007542;
$pink: #ff97b7;
$dark-pink: #ff7096;
$purple: #d689ff;
$dark-purple: #b66ee8;
$red: #df7373;
$dark-red: #cc444b;
$yellow: #ffd60a;
$dark-yellow: #ffc300;