$light-gray: #F2F2F2;
$gray: #EDF2F4;
$dark-gray: #E7ECEE;
$red: #D67F75;
$dark-red: #b96e66;
$darker-red: #774641;

$normal: #A8A878;
$fire: #F08030;
$fighting: #C03028;
$water: #6890F0;
$flying: #A890F0;
$grass: #78C850;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$psychic: #F85888;
$rock: #B8A038;
$ice: #98D8D8;
$bug: #A8B820;
$dragon: #7038F8;
$ghost: #705898;
$dark: #705848;
$steel: #B8B8D0;
$fairy: #EE99AC;

$shadow: rgba(0,0,0,0.2);

$box-shadow: 2px 2px 2px 2px $shadow;
$bottom-shadow: 0px 2px 2px 0px $shadow;
$inner-shadow: inset 0px 1px 1px 0px $shadow;