@import "styles/theme";
@import "styles/sizes";
@import "styles/spacing";

.search-box {
  height: $box-small;
  margin: $border-small auto;
  display: flex;
  justify-content: center;

  @media (min-width: $lg) {
    width: 600px;
  }

  @media (max-width: $lg) {
    margin: $border-small 0px;
  }

  .input {
    position: relative;
    font-size: $font-small;
    width: 100%;

    input {
      height: 100%;
      width: 100%;

      padding: 0;
      padding-left: $border-small;

      border: 1px solid black;
      border-radius: $border-radius-inner 0 0 $border-radius-inner;
      box-sizing: border-box;
      outline: none;
      background: $aux;
    }

    i {
      position: absolute;
      padding : 14px;
      right: 0;
      top: 0;

      height: $border-small;
      width: $border-small;

      svg {
        font-size: $font-medium;
      }
    }
  }

  .button {
    width: 64px;
    font-size: $font-medium;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $aux;
    background-color: $theme;
    border: 1px solid $theme;

    border-radius: 0 $border-radius-inner $border-radius-inner 0;

    &:hover {
      background-color: $dark-theme;
    }

    &:active {
      box-shadow: $inner-shadow;
    }
  }
}