@import "styles/theme";
@import "styles/sizes";
@import "styles/spacing";

.searchBox{
  height: $box-small;
  margin: $border-small auto;
  display: flex;
  justify-content: center;

  @media (min-width: $lg){
    width: 600px;
  }

  @media (max-width: $lg){
    margin: $border-small 0px;
  }

  &__searchInput{
    font-size: $font-medium;
    padding-left: 16px;
    width: 100%;
  }

  &__searchButton{
    width: 64px;
    font-size: $font-medium;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: $aux;
    background-color: $theme;
    border: 1px solid $darker-theme;

    &:hover{
      background-color: $dark-theme;
    }

    &:active{
      box-shadow: $inner-shadow;
    }
  }
}