@import "theme";

.searchBox{
  height: 48px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;

  &__searchInput{
    font-size: 18px;
    padding-left: 16px;
    width: 546px;
  }

  &__searchButton{
    width: 64px;
    font-size: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #EDF2F4;
    background-color: $red;
    border: 1px solid $darker-red;

    &:hover{
      background-color: $dark-red;
    }

    &:active{
      box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25)
    }
  }
}