@import "styles/spacing";
@import "styles/sizes";

$size-med: 200px;
$size-lg: 225px;
$size-xl: 250px;

.pokemon-grid{
  display: grid;
  align-content: center;

  gap: $border-medium;

  @media (max-width: $med) {
    grid-template-rows: auto;
    margin: $border-medium 0px;
  };

  @media (min-width: $med){
    grid-template-columns: $size-med $size-med;
    justify-content: center;
    
    margin: $border-medium 200px;
    gap: $border-large;

    @media (min-width: $lg) {
      grid-template-columns: $size-lg $size-lg $size-lg;

      @media (min-width: $xl) {
        grid-template-columns: $size-xl $size-xl $size-xl $size-xl;
      }
    }
  }
}