.navBar{
  background-color: #D67F75;
  padding: 0px 20px;
  align-items: center;
  display: flex;
}

.navBar > svg{
  width: 32px;
  height: 32px;
}

.navBarOptionList{
  align-items: center;
  display: flex;
}

.navBarOption{
  list-style-type: none;
  padding: 0px 20px;
}

.navBarOption > a{
  font-size: 24px;
  font-weight: bold;

  text-decoration: none;
  color: #EDF2F4;
}