@import "styles/theme";
@import "styles/sizes";

.navBar {
  background-color: $red;
  color: $gray;

  align-items: center;
  display: flex;

  @media (max-width: $lg) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  svg {
    margin: 16px;

    @media (max-width: $lg){
      width: 24px;
      height: 24px;
    }

    @media (min-width: $lg) {
      width: 36px;
      height: 36px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .optionList {
    @media (max-width : $lg) {
      display: none;
      position: absolute;
      background-color: $light-gray;
      min-width: 200px;
      box-shadow: $box-shadow;
      z-index: 1;

      a{
        color: $red;
        display: block;
      }
    }

    @media (min-width : $lg) {
      display: flex;
      justify-content: space-between;

      a{
        color: $gray
      }
    }

    a {
      font-size: 24px;
      margin: 8px 16px;
      font-weight: $demi-bold;
      text-decoration: none;
    }
  }

  .dropbutton {
    align-items: center;
  
    @media (max-width: $lg) {
      display: flex;
      color: $gray;
    }
  
    @media (min-width: $lg) {
      display: none;
    }
  }
}

.dropdown:hover .optionList {
  display: block;
}