@import "styles/theme";
@import "styles/sizes";
@import "styles/spacing";

.main-page {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  gap: $border-medium;

  .info {
    display: grid;
    gap: 24px;
    width: 100%;
  }

  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;

    @media (min-width: $xl) {
      grid-template-columns: 30% 40%;
      gap: 10%;
    }

    .image {
      img {
        width: 100%;
      }
    }
  }

  @media (max-width : $lg) {
    .image {
      display: flex;
      width: 100%;

      img {
        width: 80%;
        margin: auto;
      }

      @media (min-width: $med) {
        width: 60%;
        margin: auto;

        img {
          width: 100%;
        }
      }
    }
  }
}