@import "styles/theme";
@import "styles/sizes";
@import "styles/spacing";

.main-page {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  gap: $border-medium;

  .form-space {
    display: grid;
    gap: $border-small;

    .species-name {
      border: $default-border;
      padding: $border-extra-small;
      border-radius: $border-radius-inner;

      text-align: center;
      color: $theme;

      @media (min-width: $lg) {
        margin: auto;
        font-size: $font-medium;
        width: 60%;
      }
    }


    .image {
      display: inline-block;
      position: relative;

      .dummy {
        margin-top: 100%;
      }

      .bg{
        margin: auto;
        width: 50%;
        img{
          position: absolute;
  
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      img {
        width: 100%;
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      @media (min-width: $lg) {
        img {
          width: 100%;
        }

        svg {
          width: 100%;
        }
      }

      @media (max-width: $lg) {
        width: 100%;

        img {
          width: 80%;
          margin: auto;
        }

        @media (max-width: $med) {
          width: 60%;
          margin: auto;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .info {
    display: grid;
    gap: 24px;
    width: 100%;
  }

  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;

    @media (min-width: $xl) {
      grid-template-columns: 30% 40%;
      gap: 10%;
    }
  }
}