@import "styles/spacing";
@import "styles/sizes";

.select-menu{
  display: grid;
  grid-template-columns: 100%;

  justify-content: center;

  @media(min-width: $med){
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: $border-medium 100px;
  }
}