@import "styles/theme";
@import "styles/spacing";
@import "styles/sizes";
@import "../PokemonGrid.scss";

.card-main {
  @media(max-width: $med){
    border-radius: 10px;
    background-color: $theme;
  }

  .card-space {
    @media (max-width: $med) {
      display: grid;
      grid-template-columns: 30% 70%;
    }

    @media (min-width: $med) {
      border-radius: $border-radius-outer;
      background-color: $theme;
    }

    .card-image {
      background: $dark-aux;
      display: inline-block;
      position: relative;
      
      width: 100%;
      border-radius: $border-radius-inner;

      .dummy {
        margin-top: 100%;
      }

      svg {
        margin: auto;
        width: 100%;
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      img {
        width: 100%;
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .card-info {
      @media (max-width: $med) {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
      }

      .card-caption {
        text-decoration: none;
        color: $aux;
        font-size: $font-medium;

        display: flex;
        justify-content: space-between;
        
        @media (max-width: $med){
          padding: 0px $border-small;
        }
        
        @media (min-width: $med){
          padding: 8px $border-small;
        }
        
        @media (max-width: $lg){
          font-size: $font-small;
        }
      }
    }
  }

  .card-types {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $med){
      margin-top: $border-extra-small;
    }

    .type-button {
      width: 40%;
    }
  }
}