@import "styles/theme";
@import "styles/spacing";
@import "styles/sizes";

.card-main {
  @media(max-width: $med){
    border-radius: 10px;
    background-color: $red;
  }

  .card-space {
    @media (max-width: $med) {
      display: grid;
      grid-template-columns: 30% 70%;
    }

    @media (min-width: $med) {
      border-radius: 10px;
      background-color: $red;
    }

    .card-image {
      background: $dark-gray;
      display: flex;
      
      border-radius: 8px;

      img {
        width: 100%;
      }
    }

    .card-info {
      @media (max-width: $med) {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
      }

      .card-caption {
        text-decoration: none;
        color: $gray;
        font-size: $font-medium;

        display: flex;
        justify-content: space-between;
        
        @media (max-width: $med){
          padding: 0px $border-small;
        }
        
        @media (min-width: $med){
          padding: 8px $border-small;
        }
        
        @media (max-width: $lg){
          font-size: $font-small;
        }
      }
    }
  }

  .card-types {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $med){
      margin-top: $border-extra-small;
    }
  }
}

// .card-main {
//   background-color: $red;
//   border-radius: 10px;

//   a {
//     text-decoration: none;

//     @media (max-width: $med) {
//       display: grid;
//       grid-template-columns: 30% 60%;
//     }
//   }

//   .card-image {
//     background-color: $dark-gray;
//     display: flex;

//     border-radius: 8px;
//     height: 250px;

//     img {
//       @media (max-width: $med) {
//         width: 100%;
//       }
//     }
//   }

//   .card-caption {
//     justify-content: space-between;
//     text-align: center;
//     display: flex;

//     padding: 12px;
//     font-size: 16px;

//     color: $gray;

//     font-weight: 600;
//   }
// }

// .card-types {
//   display: flex;
//   justify-content: space-around;

//   margin: 16px 0px;
// }