.optionBox{
  margin-top: 8px;
  border-radius: 8px;
  padding: 16px 0px;

  color: #D67F75;
  border: 3px solid #D67F75;

  justify-content: space-between;
  align-items: center;
  display: flex;

  font-size: 36px;
}

.optionBox > a {
  margin: 0px 25px;
}

.optionLabelGroup{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}