@import 'styles/sizes';
@import 'styles/spacing';
@import 'styles/theme';

.evolution-line {
  display: flex;
  flex-direction: column;

  .title {
    font-size: $font-large;
    font-weight: bold;
    color: $theme;
  }

  .card-space {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 600px;
  }
}