@import 'styles/sizes';
@import 'styles/spacing';
@import 'styles/theme';


.info-page{
  p{
    font-size: $font-large;
    font-weight: bold;
    color: $theme;
  }

  .card-space{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}