@import 'styles/sizes';
@import 'styles/spacing';
@import 'styles/theme';


.info-page{
  p{
    font-size: $font-large;
    font-weight: bold;
    color: $theme;
  }

  .card-space{
    display: flex;
    justify-content: center;
  }

  .eevee{
    flex-direction: column;
    gap: $box-small;
  }
}