@import "styles/theme";
@import "styles/spacing";
@import "styles/sizes";

.type-button{
  width: 100%;
  padding: 8px $border-extra-small;

  border-radius: $border-radius-inner;
  border: none;

  .text{
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: $font-small;
    
    @media (max-width: $lg) {
      font-size: $font-small;
    }
  }
}

.normal{
  background-color: $normal;
}
.fire{
  background-color: $fire;
}
.fighting{
  background-color: $fighting;
}
.water{
  background-color: $water;
}
.flying{
  background-color: $flying;
}
.grass{
  background-color: $grass;
}
.poison{
  background-color: $poison;
}
.electric{
  background-color: $electric;
}
.ground{
  background-color: $ground;
}
.psychic{
  background-color: $psychic;
}
.rock{
  background-color: $rock;
}
.ice{
  background-color: $ice;
}
.bug{
  background-color: $bug;
}
.dragon{
  background-color: $dragon;
}
.ghost{
  background-color: $ghost;
}
.dark{
  background-color: $dark;
}
.steel{
  background-color: $steel;
}
.fairy{
  background-color: $fairy;
}