@import "styles/theme";
@import "styles/spacing";

.gender-rate {
  display: grid;
  grid-template-columns: auto 80% auto;

  align-items: center;
  justify-content: space-evenly;

  div{
    display: flex;
    align-items: center;
    margin: $border-extra-small;
  }
}