@import "styles/theme";
@import "styles/sizes";
@import "styles/spacing";

.secondary-page{
  display: grid;
  background-color: $theme;

  grid-template-columns: 100%;
  gap: 5%;

  justify-content: center;
  align-items: center;

  @media (min-width: $xs){
    padding: $border-large $border-medium;
  }

  @media (max-width: $xs){
    padding: $border-medium $border-small;
  }

  @media (min-width: $lg){
    grid-template-columns: 50% 30%;
    gap: 15%;

    @media (min-width: $xl){
      grid-template-columns: 40% 30%;
      gap: 10%;
    }

    justify-content: center;
  }
}