 @import "styles/theme";
 @import "styles/sizes";
 @import "styles/spacing";


 .select {
   display: flex;

   font-size: $font-small;

   text-align: left;

   div {
     width: 100%;
     display: flex;

     height: $box-small;
     padding-left: $border-small;
     align-items: center;

     color: $aux;
     font-weight: $demi-bold;
     background: $theme;

     border-radius: $border-radius-inner 0 0 $border-radius-inner;
   }

   select {
     padding-left: $border-small;
     width: 100%;

     outline: none;
     border-radius: 0 $border-radius-inner $border-radius-inner 0;
   }
 }