.dataTable{
  border: 3px solid #D67F75;
  width: 660px;
  color: #D67F75;

  font-size: 36px;
  border-radius: 10px;
}

.tableHeader{
  color: #EDF2F4;
  background-color: #D67F75;
  border: 3px solid #D67F75;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.tableBody{
  width: 660px;
  border-spacing: 32px 0px;
}

.tableRow{
  height: 72px;
}

.rowKey{
  text-align: left;
  width: 330px;
}

.rowValue{
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
