@import "styles/theme";
@import "styles/spacing";
@import "styles/sizes";

.data-table {
  width: 100%;

  border: 3px solid $theme;
  background-color: $theme;
  color: $theme;
  border-radius: $border-radius-outer;

  font-size: $font-small;

  @media (min-width: $xs){
    font-size: $font-medium;
  }

  .header {
    color: $aux;
    text-align: center;
    padding: $border-small;
  }

  .body {
    width: 100%;
    background: $aux;
    border-radius: 0px 0px $border-radius-outer $border-radius-outer;

    border-spacing: $border-extra-small $border-small;

    @media (min-width: $xs){
      border-spacing: $border-small $border-medium;
    }

    .row-key {
      width: 30%;

      @media (max-width: $sm) {
        width: 40%;
      }
    }
    
    .row-value-cell {
      display: grid;
      gap: 10%;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media (max-width: $xs){
        height: 40px;
      }

      @media (min-width: $med) {
        display: flex;
        justify-content: space-evenly;
      }

      .type-button {
        width: 90px;
      }
    }
  }

  .no-title {
    border-radius: 8px;
  }
}