@import "styles/spacing";
@import "styles/theme";
@import "styles/sizes";

.form-box {
  display: flex;

  select {
    width: 100%;
    padding: $border-extra-small;
    border: $default-border;
    margin: auto;

    background-color: $theme;
    color: $aux;

    outline: none;
    justify-content: space-between;

    @media(min-width: $lg){
      width: 60%;
    }

    option {
      background-color: $aux;
      color: $theme;
    }

    .selected {
      background-color: $theme;
      color: $aux;
    }

    &:disabled {
      display: none;
    }
  }
}